@using GreenCap.Web.ViewModels.OutputViewModel
@model ProposalDetailsOutputViewModel

@{ this.ViewData["Title"] = "Details"; }
<div class="jumbotron">
    <h1 class="display-4">@Model.Title</h1>

    <br />
    <!--Carousel Wrapper-->
    <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
        <!--Indicators-->
        <ol class="carousel-indicators">
            @for (int i = 0; i < Model.Images.Count; i++)
            {
<li data-target="#carousel-example-2" data-slide-to="@i" class="active"></li>}

        </ol>
        <!--/.Indicators-->
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
            @if (Model.Images.Count >= 1)
            {
<div class="carousel-item active">
    <div class="view">
        <img class="rounded mx-auto d-block" src="@Model.Images[0]"
             alt="First slide">
        <div class="mask rgba-black-light"></div>
    </div>
</div>}

            @if (Model.Images.Count >= 2)
            {
<div class="carousel-item">
    <!--Mask color-->
    <div class="view">
        <img class="rounded mx-auto d-block" src="@Model.Images[1]"
             alt="Second slide">
        <div class="mask rgba-black-strong"></div>
    </div>
</div>}

            @if (Model.Images.Count >= 3)
            {
<div class="carousel-item">
    <!--Mask color-->
    <div class="view">
        <img class="rounded mx-auto d-block" src="@Model.Images[2]"
             alt="Third slide">
        <div class="mask rgba-black-slight"></div>
    </div>
</div>      }

        </div>
        <!--/.Slides-->
        <!--Controls-->
        @if (Model.Images.Count > 1)
        {
<a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
</a>
                <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>}

        <!--/.Controls-->
    </div>
    <!--/.Carousel Wrapper-->

    <div class="container">
        <h1 class="display-4"><span>Rating:      </span><span id="averageVoteValue">@Model.AverageVote.ToString("0.0")</span><span> / 5</span></h1>
        <div class="rating">
            <input type="radio" name="rating" value="5" id="5">
            <label for="5" data-vote="5">☆</label>
            <input type="radio" name="rating" value="4" id="4">
            <label for="4" data-vote="4">☆</label>
            <input type="radio" name="rating" value="3" id="3">
            <label for="3" data-vote="3">☆</label>
            <input type="radio" name="rating" value="2" id="2">
            <label for="2" data-vote="2">☆</label>
            <input type="radio" name="rating" value="1" id="1">
            <label for="1" data-vote="1">☆</label>
        </div>
    </div>

    <p class="lead">Created by: @Model.CreatedByName</p>
    <p class="lead">Posted on: @Model.CreatedOn</p>
    <p class="lead">Last modified on: @Model.ModifiedOn</p>
    <hr class="my-4">
    <p class="card-body">@Model.Description</p>

    <p class="lead">
        <a class="btn btn-info btn-lg" asp-action="ALL">Back to List</a>
        @if (Model.UserEmail == this.User.Identity.Name)
        {
            <a class="btn btn-secondary btn-lg" href="/Proposals/Edit?id=@Model.Id" role="button">Edit</a>
            <a class="btn btn-danger btn-lg" href="/Proposals/Delete?id=@Model.Id" role="button">Delete</a>
        }
    </p>
    </div>

<form method="post" id="antiForgeryForm"></form>


@section Scripts
{
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="~/css/Rating.css" rel="stylesheet" />

    <script>
        $("label[data-vote]").each(function (el) {
            $(this).click(function () {
                var value = $(this).attr("data-vote");
                var proposalId = @Model.Id;
                var antiForgeryToken = $('#antiForgeryForm input[name=__RequestVerificationToken]').val();
                var data = { proposalId: proposalId, value: value };
                $.ajax({
                    type: "POST",
                    url: "/api/Votes",
                    data: JSON.stringify(data),
                    headers: {
                        'X-CSRF-TOKEN': antiForgeryToken
                    },
                    success: function (data) {
                        $('#averageVoteValue').html(data.averageVote.toFixed(1));
                    },
                    contentType: 'application/json',
                });
            })
        });
    </script>
}

