@model IEnumerable<GreenCap.Data.Models.News>

@{
    ViewData["Title"] = "Details news, Admin view";
}

<div class="jumbotron">
    <h1 class="text-center display-3">@ViewData["Title"]</h1>
</div>

<a class="btn btn-success" asp-action="Create">Create New</a>

<div class="row justify-content-center">
    <div class="col-auto">
        <table class="table table-responsive table-striped table-dark">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ImageUrl)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PostedOn)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Category)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsDeleted)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedOn)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" alt="Img" width="100" height="100">
                            <a href=@Html.DisplayFor(modelItem => item.OriginalUrl)>Original</a>
                        </td>
                        <td>
                            <div id="div_@item.Id" style="display:none">
                                <p>@Html.DisplayFor(modelItem => item.Description)</p>
                            </div>
                            <button id="button_@item.Id" class="btn btn-info btn-sm" onclick="showhide(@item.Id)">Show</button>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PostedOn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsDeleted)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedOn)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script src="~/js/Show-Hide.js"></script>
