@using GreenCap.Web.ViewModels.OutputViewModel
@{
    this.ViewData["Title"] = "Latest news details";
}
@model NewsOutputViewModel

<div class="jumbotron">
    <h1 class="text-success display-4">@Model.Title</h1>
    <br>
    <img src=@Model.ImageUrl class="rounded img-fluid mx-auto d-block" alt="Responsive image">
    <div class="container p-3 my-3 bg-info text-dark"  >
        <p>Credit: @Model.Credit</p>
        <p>Posted on: @Model.PostedOn</p>
        <p>Original site: <a href=@Model.MainPageUrl class="text-white">Phys.org</a></p>
        <p>Category: @Model.CategoryName</p>
    </div>    
    <div class="container p-3 my-3 bg-success text-dark">@Model.MainText</div>
</div>