@using GreenCap.Web.ViewModels.OutputViewModel
@model EventsListOutputViewModel

@{ this.ViewData["Title"] = "All events" + Model.PageNumber; }

@foreach (var eventModel in this.Model.Events)
{    
    <div class="card mb-3">
        <h3 class="card-header">@eventModel.Name</h3>
        <div class="card-body">
            <h6 class="card-subtitle text-muted">Event duration: @eventModel.StartDate - @eventModel.EndDate</h6>
        </div>
        <img class="card-img-top" src=@eventModel.ImagePath alt="No available image." />
        <div class="card-body">
            <p class="card-text">@eventModel.Description</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item text-muted">Total needed people: @eventModel.NeededPeople</li>
            <li class="list-group-item text-muted">Hosted by: @eventModel.HostedByName</li>
            <li class="list-group-item text-muted">Sign in users: names</li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Join</a>
            <a href="#" class="card-link">Edit</a>
            <a href="#" class="card-link">Delete</a>
        </div>
        <div class="card-footer text-muted">
            created @eventModel.CretedDaysAgo
        </div>   
        </div>
}     

<partial name="_PagingPartial" model="@Model" />