@using GreenCap.Web.ViewModels.OutputViewModel

@{ this.ViewData["Title"] = "Latest posts " + Model.PageNumber; }

@model PostsListOutputViewModel

@foreach (var post in Model.Posts)
{
<br />
                <div class="card text-white bg-secondary active">
                    <div class="card-header">
                        @post.CreatorName posted on @post.PostedOn
                        <button type="button" class="btn btn-danger fas fa-thumbs-down float-right p-xl-2"> @post.DissLikes </button>
                        <button type="button" class="btn btn-success fas fa-thumbs-up float-right p-xl-2"> @post.Likes </button>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">@post.ProblemTitle</h3>
                        <p class="card-text">@post.Description</p>
                    </div>
                </div>}

<partial name="_PagingPartial" model="@Model" />
