@using GreenCap.Common
@using GreenCap.Web.ViewModels.OutputViewModel
@using GreenCap.Data.Models.Enums
@{
    this.ViewData["Title"] = "Forum categories";
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#general">General</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#health">Health</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#ecology">Ecology</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#exercise">Exercise</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#envirment">Envirment</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#other">Other</a>
    </li>
</ul>

<div id="myTabContent" class="tab-content">   
    <div class="tab-pane fade show active" id="general">
        @foreach (PostOutputViewModel post in Model)
        {
            @if(post.Category==Category.General.ToString())
            {
               <br />
                <div class="card text-white bg-success active">
                    <div class="card-header">
                        @post.CreatorName.Split("@")[0] posted on @post.PostedOn
                        <button type="button" class="btn btn-danger fas fa-thumbs-down float-right p-xl-2"> @post.DissLikes </button>
                        <button type="button" class="btn btn-success fas fa-thumbs-up float-right p-xl-2"> @post.Likes </button>
                    </div>
                <div class="card-body">
                    <h3 class="card-title">@post.Title</h3>
                    <p class="card-text">@post.Description</p>
                </div>
            </div>
            }            
        }
    </div>
   
    <div class="tab-pane fade" id="health">
        @foreach (PostOutputViewModel post in Model)
        {
            @if(post.Category==Category.Health.ToString())
            {
              <br />
                <div class="card text-white bg-danger active">
                    <div class="card-header">
                        @post.CreatorName.Split("@")[0] posted on @post.PostedOn
                        <button type="button" class="btn btn-danger fas fa-thumbs-down float-right p-xl-2"> @post.DissLikes </button>
                        <button type="button" class="btn btn-success fas fa-thumbs-up float-right p-xl-2"> @post.Likes </button>
                    </div>
                <div class="card-body">
                    <h3 class="card-title">@post.Title</h3>
                    <p class="card-text">@post.Description</p>
                </div>
            </div>
            }            
        }
    </div>
    <div class="tab-pane fade" id="ecology">
        @foreach (PostOutputViewModel post in Model)
        {             
            @if(post.Category==Category.Ecology.ToString())
            {
              <br />
                <div class="card text-white bg-secondary active">
                    <div class="card-header">
                        @post.CreatorName.Split("@")[0] posted on @post.PostedOn
                        <button type="button" class="btn btn-danger fas fa-thumbs-down float-right p-xl-2"> @post.DissLikes </button>
                        <button type="button" class="btn btn-success fas fa-thumbs-up float-right p-xl-2"> @post.Likes </button>
                    </div>
                <div class="card-body">
                    <h3 class="card-title">@post.Title</h3>
                    <p class="card-text">@post.Description</p>
                </div>
            </div>
            }            
        }
    </div>
    <div class="tab-pane fade" id="exercise">
        @foreach (PostOutputViewModel post in Model)
        {             
            @if(post.Category==Category.Exercise.ToString())
            {
                <br />
                <div class="card text-white bg-warning active">
                    <div class="card-header">
                        @post.CreatorName.Split("@")[0] posted on @post.PostedOn
                        <button type="button" class="btn btn-danger fas fa-thumbs-down float-right p-xl-2"> @post.DissLikes </button>
                        <button type="button" class="btn btn-success fas fa-thumbs-up float-right p-xl-2"> @post.Likes </button>
                    </div>
                <div class="card-body">
                    <h3 class="card-title">@post.Title</h3>
                    <p class="card-text">@post.Description</p>
                </div>
            </div>
            }            
        }
    </div>
    <div class="tab-pane fade" id="envirment">
        @foreach (PostOutputViewModel post in Model)
        {
            @if(post.Category==Category.Environment.ToString())
            {
                <br />
                <div class="card text-white bg-info active">
                    <div class="card-header">
                        @post.CreatorName.Split("@")[0] posted on @post.PostedOn
                        <button type="button" class="btn btn-danger fas fa-thumbs-down float-right p-xl-2"> @post.DissLikes </button>
                        <button type="button" class="btn btn-success fas fa-thumbs-up float-right p-xl-2"> @post.Likes </button>
                    </div>
                <div class="card-body">
                    <h3 class="card-title">@post.Title</h3>
                    <p class="card-text">@post.Description</p>
                </div>
            </div>
            }            
        }
    </div>
    <div class="tab-pane fade show" id="other">
        @foreach (PostOutputViewModel post in Model)
        {
            @if(post.Category==Category.General.ToString())
            {
                <br />
                <div class="card text-white bg-primary active">
                    <div class="card-header">
                        @post.CreatorName.Split("@")[0] posted on @post.PostedOn
                        <button type="button" class="btn btn-danger fas fa-thumbs-down float-right p-xl-2"> @post.DissLikes </button>
                        <button type="button" class="btn btn-success fas fa-thumbs-up float-right p-xl-2"> @post.Likes </button>
                    </div>
                <div class="card-body">
                    <h3 class="card-title">@post.Title</h3>
                    <p class="card-text">@post.Description</p>
                </div>
            </div>
            }            
        }
    </div>
    <br />
</div>