@using GreenCap.Web.ViewModels.OutputViewModel
@using GreenCap.Data.Models.Enums
@{
    this.ViewData["Title"] = "Forum category " + Model.PageNumber;
}

@model PostsListOutputViewModel

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#general">General</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#health">Health</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#ecology">Ecology</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#exercise">Exercise</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#envirment">Envirment</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#other">Other</a>
    </li>
</ul>

<div id="myTabContent" class="tab-content">

    <div class="tab-pane fade show active" id="general">
        @foreach (PostOutputViewModel post in Model.Posts)
        {
            @if (post.CategoryName == Category.General.ToString())
            {
                <br />
                <div class="card text-white bg-success active">
                    <div class="card-header" id="@post.Id">
                        <u><a href="/Forum/Details?id=@post.Id" class="text-dark">@post.ProblemTitle</a></u>
                        <button type="button" class="btn btn-danger fas fa-thumbs-down float-right p-xl-2" data-vote="0"><span id="disslikesValue_@(post.Id)">@post.DissLikes</span></button>
                        <button type="button" class="btn btn-success fas fa-thumbs-up float-right p-xl-2" data-vote="1"><span id="likesValue_@(post.Id)">@post.Likes</span></button>
                    </div>
                    <div class="card-body">
                        <p class="card-text">@post.ShortDescription</p>
                        <h4 class="text-dark">
                            @post.CreatorName posted on @post.PostedOn
                            <a class="btn float-right text-dark" href="/Forum/Details?id=@post.Id">
                                <i class="fas fa-info-circle"></i>&nbsp; Comments:&nbsp; @post.CommentsCount
                            </a>
                        </h4>
                    </div>
                </div>
            }
        }
    </div>


    <div class="tab-pane fade" id="health">
        @foreach (PostOutputViewModel post in Model.Posts)
        {
            @if (post.CategoryName == Category.Health.ToString())
            {
                <br />
                <div class="card text-white bg-danger active">
                    <div class="card-header" id="@post.Id">
                        <u><a href="/Forum/Details?id=@post.Id" class="text-dark">@post.ProblemTitle</a></u>
                        <button type="button" class="btn btn-danger fas fa-thumbs-down float-right p-xl-2" data-vote="0"><span id="disslikesValue_@(post.Id)">@post.DissLikes</span></button>
                        <button type="button" class="btn btn-success fas fa-thumbs-up float-right p-xl-2" data-vote="1"><span id="likesValue_@(post.Id)">@post.Likes</span></button>
                    </div>
                    <div class="card-body">
                        <p class="card-text">@post.ShortDescription</p>
                        <h4 class="text-dark">
                            @post.CreatorName posted on @post.PostedOn
                            <a class="btn float-right text-dark" href="/Forum/Details?id=@post.Id">
                                <i class="fas fa-info-circle"></i>&nbsp; Comments:&nbsp; @post.CommentsCount
                            </a>
                        </h4>
                    </div>
                </div>
            }
        }
    </div>
    <div class="tab-pane fade" id="ecology">
        @foreach (PostOutputViewModel post in Model.Posts)
        {
            @if (post.CategoryName == Category.Ecology.ToString())
            {
                <br />
                <div class="card text-white bg-secondary active">
                    <div class="card-header" id="@post.Id">
                        <u><a href="/Forum/Details?id=@post.Id" class="text-dark">@post.ProblemTitle</a></u>
                        <button type="button" class="btn btn-danger fas fa-thumbs-down float-right p-xl-2" data-vote="0"><span id="disslikesValue_@(post.Id)">@post.DissLikes</span></button>
                        <button type="button" class="btn btn-success fas fa-thumbs-up float-right p-xl-2" data-vote="1"><span id="likesValue_@(post.Id)">@post.Likes</span></button>
                    </div>
                    <div class="card-body">
                        <p class="card-text">@post.ShortDescription</p>
                        <h4 class="text-dark">
                            @post.CreatorName posted on @post.PostedOn
                            <a class="btn float-right text-dark" href="/Forum/Details?id=@post.Id">
                                <i class="fas fa-info-circle"></i>&nbsp; Comments:&nbsp; @post.CommentsCount
                            </a>
                        </h4>
                    </div>
                </div>
            }
        }
    </div>
    <div class="tab-pane fade" id="exercise">
        @foreach (PostOutputViewModel post in Model.Posts)
        {
            @if (post.CategoryName == Category.Exercise.ToString())
            {
                <br />
                <div class="card text-white bg-warning active">
                    <div class="card-header" id="@post.Id">
                        <u><a href="/Forum/Details?id=@post.Id" class="text-dark">@post.ProblemTitle</a></u>
                        <button type="button" class="btn btn-danger fas fa-thumbs-down float-right p-xl-2" data-vote="0"><span id="disslikesValue_@(post.Id)">@post.DissLikes</span></button>
                        <button type="button" class="btn btn-success fas fa-thumbs-up float-right p-xl-2" data-vote="1"><span id="likesValue_@(post.Id)">@post.Likes</span></button>
                    </div>
                    <div class="card-body">
                        <p class="card-text">@post.ShortDescription</p>
                        <h4 class="text-dark">
                            @post.CreatorName posted on @post.PostedOn
                            <a class="btn float-right text-dark" href="/Forum/Details?id=@post.Id">
                                <i class="fas fa-info-circle"></i>&nbsp; Comments:&nbsp; @post.CommentsCount
                            </a>
                        </h4>
                    </div>
                </div>
            }
        }
    </div>
    <div class="tab-pane fade" id="envirment">
        @foreach (PostOutputViewModel post in Model.Posts)
        {
            @if (post.CategoryName == Category.Environment.ToString())
            {
                <br />
                <div class="card text-white bg-info active">
                    <div class="card-header" id="@post.Id">
                        <u><a href="/Forum/Details?id=@post.Id" class="text-dark">@post.ProblemTitle</a></u>
                        <button type="button" class="btn btn-danger fas fa-thumbs-down float-right p-xl-2" data-vote="0"><span id="disslikesValue_@(post.Id)">@post.DissLikes</span></button>
                        <button type="button" class="btn btn-success fas fa-thumbs-up float-right p-xl-2" data-vote="1"><span id="likesValue_@(post.Id)">@post.Likes</span></button>
                    </div>
                    <div class="card-body">
                        <p class="card-text">@post.ShortDescription</p>
                        <h4 class="text-dark">
                            @post.CreatorName posted on @post.PostedOn
                            <a class="btn float-right text-dark" href="/Forum/Details?id=@post.Id">
                                <i class="fas fa-info-circle"></i>&nbsp; Comments:&nbsp; @post.CommentsCount
                            </a>
                        </h4>
                    </div>
                </div>
            }
        }
    </div>
    <div class="tab-pane fade show" id="other">
        @foreach (PostOutputViewModel post in Model.Posts)
        {
            @if (post.CategoryName == Category.Other.ToString())
            {
                <br />
                <div class="card text-white bg-primary active">
                    <div class="card-header" id="@post.Id">
                        <u><a href="/Forum/Details?id=@post.Id" class="text-dark">@post.ProblemTitle</a></u>
                        <button type="button" class="btn btn-danger fas fa-thumbs-down float-right p-xl-2" data-vote="0"><span id="disslikesValue_@(post.Id)">@post.DissLikes</span></button>
                        <button type="button" class="btn btn-success fas fa-thumbs-up float-right p-xl-2" data-vote="1"><span id="likesValue_@(post.Id)">@post.Likes</span></button>
                    </div>
                    <div class="card-body">
                        <p class="card-text">@post.ShortDescription</p>
                        <h4 class="text-dark">
                            @post.CreatorName posted on @post.PostedOn
                            <a class="btn float-right text-dark" href="/Forum/Details?id=@post.Id">
                                <i class="fas fa-info-circle"></i>&nbsp; Comments:&nbsp; @post.CommentsCount
                            </a>
                        </h4>
                    </div>
                </div>
            }
        }
    </div>
    <br />
</div>

<!--<partial name="_PagingPartial" model="@Model" />-->
@section Scripts
{
    <script src="~/js/LikesPost.js"></script>
}