@using GreenCap.Common
@using GreenCap.Web.ViewModels.OutputViewModel
@using GreenCap.Data.Models.Enums

@{ this.ViewData["Title"] = "Latest posts"; }

@foreach (PostOutputViewModel post in Model)
{
<br />
                <div class="card text-white bg-info active">
                    <div class="card-header">
                        @post.CreatorName.Split("@")[0] posted on @post.PostedOn
                        <button type="button" class="btn btn-danger fas fa-thumbs-down float-right p-xl-2"> @post.DissLikes </button>
                        <button type="button" class="btn btn-success fas fa-thumbs-up float-right p-xl-2"> @post.Likes </button>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">@post.Title</h3>
                        <p class="card-text">@post.Description</p>
                    </div>
                </div>}

<div>
    <ul class="pagination pagination-lg">
        <li class="page-item disabled">
            <a class="page-link" href="#">&laquo;</a>
        </li>
        <li class="page-item active">
            <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">4</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">5</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">&raquo;</a>
        </li>
    </ul>
</div>